@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@font-face {
    font-family: "Kaushian";
    src: url("/assets/fonts/KaushanScript-Regular.ttf");
}
@font-face {
    font-family: "Knewave";
    src: url("/assets/fonts/Knewave-Regular.ttf");
}

/* Global element styles */
body {
    background-color: rgb(40, 80, 100);
    font-family: "Roboto", sans-serif !important;
}

li::before {
    content: '•';
    position: absolute;
    left: 1.6rem;

    font-size: 12pt;
    font-weight: 700;
}

::selection {
    background-color: rgb(40, 80, 100);
    color: white;
}

:any-link {
    color: #253035
}

/* Materialize overrides */
.row, .col {
    margin: 0 !important;
    padding: 0 !important;
}

.material-icons {
    margin-left: 0;
    padding-left: 0;

    color: #354045
}

.btn-large {
    border-radius: 4px;
}


/* Custom styles */
#no_script {
    width: 60vw;
    margin: 0 auto;
    padding: 10px;
    
    border-radius: 0 0 4px 4px;
    font-size: 12pt;
    background-color: white;
    color: #253035
}

#attn_box {
    display: none;
    position: relative;
    width: 60vw;
    margin: 0 auto;
    padding: 10px;

    border-radius: 0 0 4px 4px;
    font-size: 12pt;
    background-color: white;
    color: #253035
}

#attn_text {
    position: relative;
}

#emph {
    font-style: italic;
}

#close_btn {
    position: absolute;
    right: 2px;

    border-radius: 4px;
    background-color: rgb(40, 80, 100);
}

#main_doc {
    width: 60vw;
    margin: 40px auto;
    padding: 40px;
    
    border-radius: 4px;
    background-color: white;
}

#full_name {
    line-height: 100%;
    
    font-size: 40pt;
    font-kerning: none;
    color: #253035
}

#full_name::before {
    width: 0;
}

#f_name {
    font-weight: 100;
}

#l_name {
    font-weight: 500;
}

#tld {
    display: none;
    
    font-weight: 100;
}

#job_title {
    padding-top: 20px;
    padding-left: .15rem;
    line-height: 100%;

    font-size: 20pt;
    font-weight: 300;
    color: #253035
}

#l_col {

}

.section_heading {
    padding-top: 20px;
    line-height: 100%;
    
    border-bottom: 1px solid #a0b0b8;
}

.heading_text {
    font-size: 18pt;
    font-weight: 500;
    color: #253035
}

.p_tag {
    padding-top: 10px;
    padding-left: .2rem;
    
    font-size: 12pt;
    font-weight: 700;
    color: #253035
}

.p_info {
    padding-left: .2rem;
    
    font-size: 12pt;
    font-weight: 400;
    color: #253035
}

.tech_section {
    padding-top: 10px;
    
    color: #253035;
}

#r_col {
    padding-left: 40px !important;
}

.edu_section {
    padding-top: 10px;
    
    color: #253035;
}

.date_range {
    font-size: 10pt;
    font-weight: 500;
}

.edu_name {
    padding-bottom: 5px;
    line-height: 100%;
    
    font-size: 16pt;
    font-weight: 700;
}

.edu_degree {
    font-size: 12pt;
    font-weight: 500;
}

.edu_classes {
    position: relative;
    left: -1.5rem;
    margin: 0;

    list-style: none;
    font-size: 12pt;
}

.exp_section {
    padding-top: 10px;
    color: #253035;
}

.exp_name {
    padding-bottom: 5px;
    line-height: 100%;

    font-size: 16pt;
    font-weight: 700;
}

.exp_position {
    font-size: 12pt;
    font-weight: 500;
}

.exp_duties {
    position: relative;
    left: -1.5rem;
    margin: 0;

    list-style: none;
    font-size: 12pt;
}

.proj_section {
    padding-top: 10px;

    color: #253035
}

.proj_icon {
    width: 80px;
    height: 48px;
    margin-right: 8px !important;
    
    border-radius: 4px;
    background-color: #354045;
    color: white;
    font-size: 24pt;
}

#sm_icon {
    font-family: "Kaushian", cursive;
}

#re_icon {
    font-family: "Knewave", cursive;
}

#ss_icon {
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    font-weight: 700;
}

.proj_name {
    padding-bottom: 5px;
    line-height: 100%;
    
    font-size: 16pt;
    font-weight: 700;
}

.proj_tech {
    line-height: 150%;
    
    font-size: 12pt;
    font-weight: 500;
}

.proj_desc {
    line-height: 150%;
    
    font-size: 12pt;
}

.proj_links {
    word-spacing: 2.4rem;
    font-weight: 500;
}

.proj_code::before {
    content: "Code";
}

.proj_depl::before {
    content: "Deployed"
}

#print_page {
    display: none;
    margin-bottom: 40px;

    border-radius: 4px;
    background-color: white;

    font-weight: 700;
    color: #253035;
}


/* Mobile fixes */
@media (max-width: 1420px) {
    #no_script {
        width: 80vw;
    }

    #attn_box {
        width: 80vw;
    }
    
    #main_doc {
        width: 80vw;
    }
}

@media (max-width: 1060px) {
    #no_script {
        width: 90vw;
    }

    #attn_box {
        width: 90vw;
    }

    #main_doc {
        width: 90vw;
    }
}

@media (max-width: 950px) {
    #no_script {
        width: 100vw;
    }

    #attn_box {
        width: 100vw;
    }

    #close_btn {
        position: relative;
    }

    #main_doc {
        width: 100vw;
    }

    #proj_tech {
        font-size: 10pt;
    }
}

@media (max-width: 600px) {
    #r_col {
        padding-left: 0 !important;
    }
}

/* Printing fixes */
@page {
    margin: 0;
}

@media print
{
    body {
        background-color: white;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }

    #no_script {
        display: none !important;
    }

    #attn_box {
        display: none;
    }
    
    #main_doc {
        width: 100%;
        margin: 0;
    }

    #full_name {
        font-size: 30pt;
    }

    #job_title {
        font-size: 16pt;
    }

    .section_heading {
        border-bottom: 1px solid #a0b0b8;
    }

    .heading_text {
        font-size: 14pt;
    }

    .p_tag {
        font-size: 10pt;
    }

    .p_info {
        font-size: 10pt;
    }

    .edu_classes {
        font-size: 10pt;
    }

    .exp_duties {
        font-size: 10pt;
    }

    .proj_code::before {
        content: attr(data-link);
    }

    .proj_depl::before {
        content: attr(data-link);
    }

    #print_page {
        display: none !important;
    }
}